# Binaries
ebin/
*.beam

# Temporary files
*~

# OS X cruft
.DS_Store

# Rebar and erlang.mk
rebar
.rebar/
erlang.mk
.erlang.mk/

# EUnit directory
.eunit/

# Dependencies.
deps/

# The built release
_rel/
relx

.minesweeper.plt
minesweeper.d

