# Binaries
ebin/
*.beam

# Temporary files
*~

# OS X cruft
.DS_Store

# Build & related stuff
erlang.mk
.erlang.mk/

# Test & Coverage stuff
eunit.coverdata
cover/

# Dependencies.
deps/

# The built release
_rel/
relx

.minesweeper.plt
minesweeper.d

